[user]
	email = denpeshkov98@gmail.com
	name = Denis Peshkov
[core]
	editor = code --new-window --wait
	autocrlf = false
	safecrlf = true
	excludesFile = ~/.gitignore_global
[diff]
	tool = code
[difftool "code"]
	cmd = code --new-window --wait --diff $LOCAL $REMOTE
[merge]
	tool = code
[mergetool "code"]
	cmd = code --new-window --wait --merge $REMOTE $LOCAL $BASE $MERGED
[init]
	defaultBranch = main